project: default

source:
  repoURL: https://github.com/vramk23/infrapub.git
  targetRevision: main

destination:
  server: https://kubernetes.default.svc

syncPolicy:
  CreateNamespace: true
  automated:
    prune: false
    selfHeal: true

piplelinePath: cicd/tekton-pipelines
clusterTasksPath: cicd/tekton-cluster-tasks
